  .recharge .text--left {
  text-align: left !important;
}
.recharge .text--right {
  text-align: right !important;
}
.recharge .text--center {
  text-align: center !important;
}
.recharge .text--justify {
  text-align: justify !important;
  text-justify: inter-ideograph;
}
.recharge .text--nowrap {
  white-sace: nowrap;
}
.recharge .text--hide {
  font: 0/0 a;
  color: transparent;
  border: 0;
  background-color: transparent;
  text-shadow: none;
}
.recharge .clearfix:before,
.recharge .clearfix:after {
  display: table;
  content: ' ';
}
.recharge .clearfix:after {
  clear: both;
}
@media (max-width: 767px) {
  .recharge .rc_hidden__xs {
    display: none !important;
  }
  .recharge .rc_hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .recharge .rc_hidden__sm {
    display: none !important;
  }
  .recharge .rc_hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .recharge .rc_hidden__md {
    display: none !important;
  }
  .recharge .rc_hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .recharge .rc_hidden__lg {
    display: none !important;
  }
  .recharge .rc_hidden-lg {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .recharge .rc_visible__xs {
    display: initial !important;
  }
  .recharge table.rc_visible__xs {
    display: table !important;
  }
  .recharge th.rc_visible__xs,
  .recharge td.rc_visible__xs {
    display: table !important;
  }
  .recharge thead.rc_visible__xs {
    display: table-header-group !important;
  }
  .recharge b.rc_visible__xs,
  .recharge strong.rc_visible__xs,
  .recharge i.rc_visible__xs,
  .recharge em.rc_visible__xs,
  .recharge span.rc_visible__xs,
  .recharge a.rc_visible__xs {
    display: inline;
  }
  .recharge .rc_visible-xs {
    display: initial !important;
  }
  .recharge table.rc_visible-xs {
    display: table !important;
  }
  .recharge th.rc_visible-xs,
  .recharge td.rc_visible-xs {
    display: table !important;
  }
  .recharge thead.rc_visible-xs {
    display: table-header-group !important;
  }
  .recharge b.rc_visible-xs,
  .recharge strong.rc_visible-xs,
  .recharge i.rc_visible-xs,
  .recharge em.rc_visible-xs,
  .recharge span.rc_visible-xs,
  .recharge a.rc_visible-xs {
    display: inline;
  }
  .recharge .rc_visible__xs__block {
    display: block !important;
  }
  .recharge .rc_visible__xs__inline {
    display: inline !important;
  }
  .recharge .rc_visible__xs__inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .recharge .rc_visible__sm {
    display: initial !important;
  }
  .recharge table.rc_visible__sm {
    display: table !important;
  }
  .recharge th.rc_visible__sm,
  .recharge td.rc_visible__sm {
    display: table !important;
  }
  .recharge thead.rc_visible__sm {
    display: table-header-group !important;
  }
  .recharge b.rc_visible__sm,
  .recharge strong.rc_visible__sm,
  .recharge i.rc_visible__sm,
  .recharge em.rc_visible__sm,
  .recharge span.rc_visible__sm,
  .recharge a.rc_visible__sm {
    display: inline;
  }
  .recharge .rc_visible-sm {
    display: initial !important;
  }
  .recharge table.rc_visible-sm {
    display: table !important;
  }
  .recharge th.rc_visible-sm,
  .recharge td.rc_visible-sm {
    display: table !important;
  }
  .recharge thead.rc_visible-sm {
    display: table-header-group !important;
  }
  .recharge b.rc_visible-sm,
  .recharge strong.rc_visible-sm,
  .recharge i.rc_visible-sm,
  .recharge em.rc_visible-sm,
  .recharge span.rc_visible-sm,
  .recharge a.rc_visible-sm {
    display: inline;
  }
  .recharge .rc_visible__sm__block {
    display: block !important;
  }
  .recharge .rc_visible__sm__inline {
    display: inline !important;
  }
  .recharge .rc_visible__sm__inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .recharge .rc_visible__md {
    display: initial !important;
  }
  .recharge table.rc_visible__md {
    display: table !important;
  }
  .recharge th.rc_visible__md,
  .recharge td.rc_visible__md {
    display: table !important;
  }
  .recharge thead.rc_visible__md {
    display: table-header-group !important;
  }
  .recharge b.rc_visible__md,
  .recharge strong.rc_visible__md,
  .recharge i.rc_visible__md,
  .recharge em.rc_visible__md,
  .recharge span.rc_visible__md,
  .recharge a.rc_visible__md {
    display: inline;
  }
  .recharge .rc_visible-md {
    display: initial !important;
  }
  .recharge table.rc_visible-md {
    display: table !important;
  }
  .recharge th.rc_visible-md,
  .recharge td.rc_visible-md {
    display: table !important;
  }
  .recharge thead.rc_visible-md {
    display: table-header-group !important;
  }
  .recharge b.rc_visible-md,
  .recharge strong.rc_visible-md,
  .recharge i.rc_visible-md,
  .recharge em.rc_visible-md,
  .recharge span.rc_visible-md,
  .recharge a.rc_visible-md {
    display: inline;
  }
  .recharge .rc_visible__md__block {
    display: block !important;
  }
  .recharge .rc_visible__md__inline {
    display: inline !important;
  }
  .recharge .rc_visible__md__inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .recharge .rc_visible__lg {
    display: initial !important;
  }
  .recharge table.rc_visible__lg {
    display: table !important;
  }
  .recharge th.rc_visible__lg,
  .recharge td.rc_visible__lg {
    display: table !important;
  }
  .recharge thead.rc_visible__lg {
    display: table-header-group !important;
  }
  .recharge b.rc_visible__lg,
  .recharge strong.rc_visible__lg,
  .recharge i.rc_visible__lg,
  .recharge em.rc_visible__lg,
  .recharge span.rc_visible__lg,
  .recharge a.rc_visible__lg {
    display: inline;
  }
  .recharge .rc_visible-lg {
    display: initial !important;
  }
  .recharge table.rc_visible-lg {
    display: table !important;
  }
  .recharge th.rc_visible-lg,
  .recharge td.rc_visible-lg {
    display: table !important;
  }
  .recharge thead.rc_visible-lg {
    display: table-header-group !important;
  }
  .recharge b.rc_visible-lg,
  .recharge strong.rc_visible-lg,
  .recharge i.rc_visible-lg,
  .recharge em.rc_visible-lg,
  .recharge span.rc_visible-lg,
  .recharge a.rc_visible-lg {
    display: inline;
  }
  .recharge .rc_visible__lg__block {
    display: block !important;
  }
  .recharge .rc_visible__lg__inline {
    display: inline !important;
  }
  .recharge .rc_visible__lg__inline-block {
    display: inline-block !important;
  }
}
.recharge .updates__block {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #EFEFF1;
}
.recharge .updates__block > ul,
.recharge .updates__block > ol,
.recharge .updates__block hr,
.recharge .updates__block p {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
.recharge .updates__block code {
  color: #ec3d10;
}
.recharge .updates__block ul li,
.recharge .updates__block ol li {
  line-height: 1.61803em;
  margin-top: 0;
}
.recharge .rc_table {
  width: 100%;
  table-layout: auto;
  margin-right: auto;
  margin-left: auto;
  vertical-align: top;
}
.recharge .rc_table td:last-child {
  width: 1%;
  white-space: nowrap;
}
.recharge .rc_button {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  border-width: 0;
  border-style: solid;
  outline: 0;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
.recharge .button--large.button,
.recharge .rc_modal__actions .button,
.rc_modal__actions .recharge .button {
  font-size: inherit;
}
.recharge .rc_button.rc_button--link.rc_button--alt {
  text-decoration: none;
}
.recharge .form__actions,
.recharge .rc_modal__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 60px;
}
.recharge .form__actions .button,
.recharge .rc_modal__actions .button {
  -webkit-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}
.recharge .form__actions .button + .button,
.recharge .rc_modal__actions .button + .button {
  margin-left: 13px;
}
.recharge .container,
.recharge .rc_container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}
.recharge .container:before,
.recharge .container:after,
.recharge .rc_container:before,
.recharge .rc_container:after {
  display: table;
  content: ' ';
}
.recharge .container:after,
.recharge .rc_container:after {
  clear: both;
}
@media (min-width: 768px) {
  .recharge .container,
  .recharge .rc_container {
    width: 740px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (min-width: 992px) {
  .recharge .container,
  .recharge .rc_container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .recharge .container,
  .recharge .rc_container {
    width: 1160px;
  }
}
.recharge #schedule_call {
  padding: 1px;
}
.recharge #ScheduleOnceIframe__call,
.recharge #ScheduleOnceIframe__webinar {
  display: block;
  width: 100%;
  max-width: 1015px;
  margin-right: auto;
  margin-left: auto;
}
.recharge .container,
.recharge .rc_container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}
.recharge .container:before,
.recharge .container:after,
.recharge .rc_container:before,
.recharge .rc_container:after {
  display: table;
  content: ' ';
}
.recharge .container:after,
.recharge .rc_container:after {
  clear: both;
}
@media (min-width: 768px) {
  .recharge .container,
  .recharge .rc_container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .recharge .container,
  .recharge .rc_container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .recharge .container,
  .recharge .rc_container {
    width: 1160px;
  }
}
.recharge .rc_layout__container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}
.recharge .rc_layout__container:before,
.recharge .rc_layout__container:after {
  display: table;
  content: ' ';
}
.recharge .rc_layout__container:after {
  clear: both;
}
@media (min-width: 768px) {
  .recharge .rc_layout__container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .recharge .rc_layout__container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .recharge .rc_layout__container {
    width: 1160px;
  }
}
.recharge .rc_layout {
  margin-right: -10px;
  margin-left: -10px;
}
.recharge .rc_layout:before,
.recharge .rc_layout:after {
  display: table;
  content: ' ';
}
.recharge .rc_layout:after {
  clear: both;
}
.recharge .rc_layout__xs__1,
.recharge .rc_layout__sm__1,
.recharge .rc_layout__md__1,
.recharge .rc_layout__lg__1,
.recharge .rc_layout__xs__2,
.recharge .rc_layout__sm__2,
.recharge .rc_layout__md__2,
.recharge .rc_layout__lg__2,
.recharge .rc_layout__xs__3,
.recharge .rc_layout__sm__3,
.recharge .rc_layout__md__3,
.recharge .rc_layout__lg__3,
.recharge .rc_layout__xs__4,
.recharge .rc_layout__sm__4,
.recharge .rc_layout__md__4,
.recharge .rc_layout__lg__4,
.recharge .rc_layout__xs__5,
.recharge .rc_layout__sm__5,
.recharge .rc_layout__md__5,
.recharge .rc_layout__lg__5,
.recharge .rc_layout__xs__6,
.recharge .rc_layout__sm__6,
.recharge .rc_layout__md__6,
.recharge .rc_layout__lg__6,
.recharge .rc_layout__xs__7,
.recharge .rc_layout__sm__7,
.recharge .rc_layout__md__7,
.recharge .rc_layout__lg__7,
.recharge .rc_layout__xs__8,
.recharge .rc_layout__sm__8,
.recharge .rc_layout__md__8,
.recharge .rc_layout__lg__8,
.recharge .rc_layout__xs__9,
.recharge .rc_layout__sm__9,
.recharge .rc_layout__md__9,
.recharge .rc_layout__lg__9,
.recharge .rc_layout__xs__10,
.recharge .rc_layout__sm__10,
.recharge .rc_layout__md__10,
.recharge .rc_layout__lg__10,
.recharge .rc_layout__xs__11,
.recharge .rc_layout__sm__11,
.recharge .rc_layout__md__11,
.recharge .rc_layout__lg__11,
.recharge .rc_layout__xs__12,
.recharge .rc_layout__sm__12,
.recharge .rc_layout__md__12,
.recharge .rc_layout__lg__12 {
  position: relative;
  box-sizing: border-box;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.recharge .rc_layout__xs__1,
.recharge .rc_layout__xs__2,
.recharge .rc_layout__xs__3,
.recharge .rc_layout__xs__4,
.recharge .rc_layout__xs__5,
.recharge .rc_layout__xs__6,
.recharge .rc_layout__xs__7,
.recharge .rc_layout__xs__8,
.recharge .rc_layout__xs__9,
.recharge .rc_layout__xs__10,
.recharge .rc_layout__xs__11,
.recharge .rc_layout__xs__12 {
  float: left;
}
.recharge .rc_layout__xs__1 {
  width: 8.33333%;
}
.recharge .rc_layout__xs__2 {
  width: 16.66667%;
}
.recharge .rc_layout__xs__3 {
  width: 25%;
}
.recharge .rc_layout__xs__4 {
  width: 33.33333%;
}
.recharge .rc_layout__xs__5 {
  width: 41.66667%;
}
.recharge .rc_layout__xs__6 {
  width: 50%;
}
.recharge .rc_layout__xs__7 {
  width: 58.33333%;
}
.recharge .rc_layout__xs__8 {
  width: 66.66667%;
}
.recharge .rc_layout__xs__9 {
  width: 75%;
}
.recharge .rc_layout__xs__10 {
  width: 83.33333%;
}
.recharge .rc_layout__xs__11 {
  width: 91.66667%;
}
.recharge .rc_layout__xs__12 {
  width: 100%;
}
@media (min-width: 768px) {
  .recharge .rc_layout__sm__1,
  .recharge .rc_layout__sm__2,
  .recharge .rc_layout__sm__3,
  .recharge .rc_layout__sm__4,
  .recharge .rc_layout__sm__5,
  .recharge .rc_layout__sm__6,
  .recharge .rc_layout__sm__7,
  .recharge .rc_layout__sm__8,
  .recharge .rc_layout__sm__9,
  .recharge .rc_layout__sm__10,
  .recharge .rc_layout__sm__11,
  .recharge .rc_layout__sm__12 {
    float: left;
  }
  .recharge .rc_layout__sm__1 {
    width: 8.33333%;
  }
  .recharge .rc_layout__sm__2 {
    width: 16.66667%;
  }
  .recharge .rc_layout__sm__3 {
    width: 25%;
  }
  .recharge .rc_layout__sm__4 {
    width: 33.33333%;
  }
  .recharge .rc_layout__sm__5 {
    width: 41.66667%;
  }
  .recharge .rc_layout__sm__6 {
    width: 50%;
  }
  .recharge .rc_layout__sm__7 {
    width: 58.33333%;
  }
  .recharge .rc_layout__sm__8 {
    width: 66.66667%;
  }
  .recharge .rc_layout__sm__9 {
    width: 75%;
  }
  .recharge .rc_layout__sm__10 {
    width: 83.33333%;
  }
  .recharge .rc_layout__sm__11 {
    width: 91.66667%;
  }
  .recharge .rc_layout__sm__12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .recharge .rc_layout__md__1,
  .recharge .rc_layout__md__2,
  .recharge .rc_layout__md__3,
  .recharge .rc_layout__md__4,
  .recharge .rc_layout__md__5,
  .recharge .rc_layout__md__6,
  .recharge .rc_layout__md__7,
  .recharge .rc_layout__md__8,
  .recharge .rc_layout__md__9,
  .recharge .rc_layout__md__10,
  .recharge .rc_layout__md__11,
  .recharge .rc_layout__md__12 {
    float: left;
  }
  .recharge .rc_layout__md__1 {
    width: 8.33333%;
  }
  .recharge .rc_layout__md__2 {
    width: 16.66667%;
  }
  .recharge .rc_layout__md__3 {
    width: 25%;
  }
  .recharge .rc_layout__md__4 {
    width: 33.33333%;
  }
  .recharge .rc_layout__md__5 {
    width: 41.66667%;
  }
  .recharge .rc_layout__md__6 {
    width: 50%;
  }
  .recharge .rc_layout__md__7 {
    width: 58.33333%;
  }
  .recharge .rc_layout__md__8 {
    width: 66.66667%;
  }
  .recharge .rc_layout__md__9 {
    width: 75%;
  }
  .recharge .rc_layout__md__10 {
    width: 83.33333%;
  }
  .recharge .rc_layout__md__11 {
    width: 91.66667%;
  }
  .recharge .rc_layout__md__12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .recharge .rc_layout__lg__1,
  .recharge .rc_layout__lg__2,
  .recharge .rc_layout__lg__3,
  .recharge .rc_layout__lg__4,
  .recharge .rc_layout__lg__5,
  .recharge .rc_layout__lg__6,
  .recharge .rc_layout__lg__7,
  .recharge .rc_layout__lg__8,
  .recharge .rc_layout__lg__9,
  .recharge .rc_layout__lg__10,
  .recharge .rc_layout__lg__11,
  .recharge .rc_layout__lg__12 {
    float: left;
  }
  .recharge .rc_layout__lg__1 {
    width: 8.33333%;
  }
  .recharge .rc_layout__lg__2 {
    width: 16.66667%;
  }
  .recharge .rc_layout__lg__3 {
    width: 25%;
  }
  .recharge .rc_layout__lg__4 {
    width: 33.33333%;
  }
  .recharge .rc_layout__lg__5 {
    width: 41.66667%;
  }
  .recharge .rc_layout__lg__6 {
    width: 50%;
  }
  .recharge .rc_layout__lg__7 {
    width: 58.33333%;
  }
  .recharge .rc_layout__lg__8 {
    width: 66.66667%;
  }
  .recharge .rc_layout__lg__9 {
    width: 75%;
  }
  .recharge .rc_layout__lg__10 {
    width: 83.33333%;
  }
  .recharge .rc_layout__lg__11 {
    width: 91.66667%;
  }
  .recharge .rc_layout__lg__12 {
    width: 100%;
  }
}
.recharge__wrapper #wrap {
  height: initial;
  min-height: initial;
  margin: 0 auto;
  padding: 0;
}
.recharge__wrapper #content {
  padding-bottom: 20px;
}
.recharge__wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto -50px;
}
.recharge__wrapper .push {
  height: 50px;
}
.recharge .rc_layout__container {
  box-sizing: border-box;
}
.recharge .rc_layout__container:before {
  display: table;
  content: ' ';
}
.recharge .rc_layout {
  box-sizing: border-box;
  margin-right: -10px;
  margin-left: -10px;
}
.recharge .rc_layout:before,
.recharge .rc_layout:after {
  display: table;
  content: ' ';
}
.recharge .rc_layout:after {
  clear: both;
}
.recharge .rc_layout__sidebar {
  position: relative;
  float: left;
  float: none;
  box-sizing: border-box;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .recharge .rc_layout__sidebar {
    position: relative;
    float: left;
    width: 33.33333%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .recharge .rc_layout__sidebar {
    position: relative;
    float: left;
    width: 25%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .recharge .rc_layout__sidebar {
    position: relative;
    float: left;
    width: 25%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.recharge .rc_layout__content {
  position: relative;
  float: left;
  float: none;
  box-sizing: border-box;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .recharge .rc_layout__content {
    position: relative;
    float: left;
    width: 66.66667%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .recharge .rc_layout__content {
    position: relative;
    float: left;
    width: 75%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .recharge .rc_layout__content {
    position: relative;
    float: left;
    width: 75%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.recharge .rc_layout__full {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.recharge .rc_page-title {
  width: 100%;
  min-height: 40px;
}
.recharge .rc_page-title h1,
.recharge .rc_page-title .h1 {
  margin-top: 0;
}
.recharge .rc_page-title__description {
  font-size: 16px;
  display: table;
  width: 100%;
  text-align: left;
}
.recharge .rc_info-bar {
  display: table;
  width: 100%;
}
.recharge .rc_info-bar__label,
.recharge .rc_info-bar__content {
  display: table-cell;
  vertical-align: top;
}
.recharge .rc_info-bar__label {
  text-align: left;
}
.recharge .rc_info-bar__content {
  text-align: right;
  white-space: nowrap;
}
.recharge .rc_title-bar {
  display: table;
  width: 100%;
  min-height: 40px;
}
.recharge .table {
  width: 100%;
}
.recharge .table th {
  text-align: left;
}
/* Fix to prevent hard-set widths, but use the same grid sass include */
.user-customer .recharge .rc_layout__container {
  width: 100%;
}
@media (min-width: 768px) {
  .recharge .rc_layout__container {
    max-width: 740px;
  }
}
@media (min-width: 992px) {
  .recharge .rc_layout__container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .recharge .rc_layout__container {
    max-width: 1160px;
  }
}
.rc_modal {
  position: fixed;
  z-index: 100090;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  overflow-y: scroll;
  outline: 0;
  -webkit-overflow-scrolling: touch;
}
.rc_modal__close {
  font-family: 'fontawesome';
  position: absolute;
  z-index: 100090;
  top: 30px;
  right: 30px;
  padding: 0;
  cursor: pointer;
  text-align: right;
  border: 0;
  outline: 0;
  background: transparent;
}
.rc_modal__close:before {
  font-size: 24px;
  content: '\f00d';
}
.rc_modal__title {
  padding-right: 42px;
}
.rc_modal__content {
  position: relative;
  padding: 35px 30px;
  outline: 0;
  background-color: #fff;
  background-clip: padding-box;
}
.rc_modal__content img {
  max-width: 100%;
  height: auto;
}
.rc_modal__content h1,
.rc_modal__content .h1,
.rc_modal__content h2,
.rc_modal__content .h2,
.rc_modal__content h3,
.rc_modal__content .h3,
.rc_modal__content h4,
.rc_modal__content .h4,
.rc_modal__content h5,
.rc_modal__content .h5 {
  color: #191D48;
}
.rc_modal__content h3,
.rc_modal__content .h3 {
}
@media (min-width: 768px) {
  .rc_modal--small {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .rc_modal--large {
    width: 900px;
  }
}
.rc_modal.rc_fade .rc_modal__dialog {
  transition: -webkit-transform .3s ease-out;
  transition:         transform .3s ease-out;
  transition:         transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.rc_modal.rc_in .rc_modal__dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.rc_modal__dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
@media (min-width: 768px) {
  .rc_modal__dialog {
    width: 700px;
    margin: 4% auto;
  }
}
.rc_modal__open {
  overflow: hidden;
}
.rc_modal__open .rc_modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.rc_modal__backdrop {
  position: fixed;
  z-index: 100080;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
}
.rc_modal__backdrop.rc_fade {
  transition: opacity .2s linear;
  opacity: 0;
  filter: alpha(opacity=0);
}
.rc_modal__backdrop.rc_in,
.rc_modal__backdrop.rc_fade.rc_in {
  opacity: .7;
  filter: alpha(opacity=70);
}
.rc_modal__scrollbar-measure {
  position: absolute;
  top: -9999px;
  overflow: scroll;
  width: 50px;
  height: 50px;
}
.rc_modal__actions {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.fade,
.rc_fade {
  transition: opacity .2s linear;
  opacity: 0;
}
.fade.in,
.fade.rc_in,
.rc_fade.in,
.rc_fade.rc_in {
  opacity: 1;
}
.in .fade {
  opacity: 1;
}
.rc_modal__open {
  overflow: hidden;
}
.rc_modal__backdrop {
  position: fixed;
  z-index: 100080;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
}
.rc_modal__backdrop.rc_fade {
  transition: opacity .2s linear;
  opacity: 0;
  filter: alpha(opacity=0);
}
.rc_modal__backdrop.rc_in,
.rc_modal__backdrop.rc_fade.rc_in {
  opacity: .7;
  filter: alpha(opacity=70);
}
/* Product search */
.recharge .rc_product-item__list {
  margin-right: -20px;
  margin-left: -20px;
}
.recharge .rc_form__search + .rc_product-item__list {
  margin-top: 34px;
}
.recharge .rc_product-item__list--seamlesss {
  padding-left: 0;
}
.recharge .rc_product-item__list:after {
  display: table;
  clear: both;
  content: '';
}
.recharge .rc_product-item {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.recharge .rc_product-item:only-child .rc_product-item__info {
  font-size: 16px;
}
.recharge a.rc_product-item {
  text-decoration: none;
}
.recharge .rc_product-item__image {
  width: 100%;
  height: auto;
  position: relative;
}
.recharge .rc_product-item__description span + span:before {
  display: inline-block;
  content: '/';
}
@media screen and (min-width: 576px) and (max-width:767px) {
  .recharge .rc_product-item__list .rc_product-item {
    width: 50%;
  }
  .recharge .rc_product-item__list .rc_product-item:nth-child(odd) {
    clear: both;
  }
}
@media screen and (min-width: 768px) and (max-width:991px) {
  .recharge .rc_product-item__list .rc_product-item {
    width: 33.33%;
  }
  .recharge .rc_product-item__list .rc_product-item:nth-child(3n+1) {
    clear: both;
  }
}
@media screen and (min-width: 992px) {
  .recharge .rc_product-item__list .rc_product-item {
    width: 25%;
  }
  .recharge .rc_product-item__list .rc_product-item:nth-child(4n+1) {
    clear: both;
  }
}
.recharge .rc_product-item__list--inline .rc_product-item {
  width: 100%;
}
@media screen and (min-width: 576px) {
  .recharge .rc_product-item__list--inline .rc_product-item__inner:after {
    display: table;
    clear: both;
    content: '';
  }
  .recharge .rc_product-item__list--inline .rc_product-item__details,
  .recharge .rc_product-item__list--inline .rc_product-item__media {
    float: left;
  }
  .recharge .rc_product-item__list--inline .rc_product-item__media {
    width: 39%;
    padding-right: 35px;
  }
  .recharge .rc_product-item__list--inline .rc_product-item__details {
    width: 61%;
  }
}
@media screen and (min-width: 768px) {
  .recharge .rc_product-item__list--inline .rc_product-item {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .recharge .rc_product-item__list--inline .rc_product-item {
    width: 33.33%;
  }
}
@media screen and (min-width: 768px) {
  .recharge .rc_product-item__list--inline .rc_product-item {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .recharge .rc_product-item__list--inline .rc_product-item {
    width: 50%;
  }
}
/* Product list: Swap product widget */
.recharge .rc_product-item__list--cards {
  margin-right: 0;
}
.recharge .rc_product-item__list--cards .rc_product-item__inner {
  padding: 20px;
}
.recharge .rc_product-item__list--cards .rc_product-item {
  margin-bottom: 20px;
  padding-right: 0;
}
.recharge .rc_product-item {
  display: block;
  float: left;
  width: 100%;
}
.recharge .rc_product-detail__image {
  width: 100%;
  height: auto;
}
.recharge hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #EFEFF1;
}
/* Product list: Loading messages */
.recharge .response-loading,
.recharge .response-empty {
  display: block;
  color: #AAA;
  font-size: 16px;
  text-align: center;
}
.recharge .response-empty {
  color: #444;
}
/* Forms: Inputs */
.recharge input[type="number"] {
  box-sizing: content-box;
}
/* Forms: Radios */
.recharge .rc_form__radio {
  display: inline-block;
  width: auto;
  -webkit-appearance: radio;
  float: none;
}
.recharge .rc_form__radio:focus {
  outline: 0;
}
.recharge .rc_form__radio + .rc_form__label {
  display: inline-block;
}
/* Specific fixes */
/* Quantity modifiers */
#product_quantity_wrapper input[type="number"]::-webkit-inner-spin-button,
#product_quantity_wrapper input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Add support for responsive tables */
.recharge .rc_table__container {
  width: 100%;
  overflow-x: auto;
}


/* Notifications and flash messages */
.rc_notification {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #808F99;
    font-size: 18px;
    color: #fff;
    text-align: center;
    max-height: 0;
    z-index: 1200;
    -webkit-transition: max-height .6s;
    -moz-transition: max-height .6s;
    -o-transition: max-height .6s;
    transition: max-height .6s;
    overflow: hidden
}

.rc_notification>p,
.rc_notification>ul {
    margin: 25px;
    color: #fff;
}

.rc_notification--error>p,
.rc_notification--error>ul,
.rc_notification--warning>p,
.rc_notification--warning>ul {
    margin: 25px 50px
}

.rc_notification.rc_show {
    max-height: 200px
}

@media screen and (max-width: 767px) {
    .rc_notification.rc_show {
        max-height:325px
    }
}

.rc_notification__close {
    -webkit-appearance: none;
    outline: 0;
    position: absolute;
    top: 11px;
    right: 13px;
    display: block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 0;
    line-height: 1;
    cursor: pointer;
    color: #fff
}

.rc_notification__close:before {
    content: "\F00D";
    font-family: 'fontawesome';
    font-size: 24px;
    color: #fff
}

.rc_notification--info {
    background-color: #4751BF;
}

.rc_notification--custom-info {
    background-color: #4751BF;
    height: 50px;
}

.rc_notification--error {
    background-color: #EC3D10;
}

.rc_notification--warning {
    background-color: #FBB143;
}

.rc_notification--success {
    background-color: #17CC9D;
}

.shopify_contracts_integration_hidden {
    display: none;
}
