// vars
%ftfTrio{
    font-family: 'post-grotesk-book', sans-serif;
}
//breakpoints
$bp1024:1024px;
$bp991:991px;
$bp900:900px;
$bp768:768px;
$bp700:700px;
$bp600:600px;
$bp500:500px;
$bp400:400px;
$bp320:320px;
// default settings
html::-webkit-scrollbar-thumb{
    background-color: #4B5254;
    -webkit-appearance: none;
    border-radius: 30px;
    height: 10px;
}
html::-webkit-scrollbar {
    width: 9px;
}
html::-webkit-scrollbar-track {
    background-color: #fff;
    border-left: 2px solid rgba(0,0,0,0.2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @extend %ftfTrio;
}
li{
    list-style-type: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    @extend %ftfTrio;
}

.container{
    max-width: 1200px;
    padding: 0 20px;
    width: calc(100% - 40px);
    margin: 0 auto;
    @media(max-width:$bp500){
        width: 100%;
        margin: 0;
    }
}
//head-wrapper
.head-wrapper{
    height: 60vh;
    position: relative;
    width: 100%;
}
//head video

.head-video{
    position: absolute;
    height: 60vh;
    max-width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -1;
    #head-video{
        min-width: 100%;
    }
    &::before{
        content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,.35);
    top: 0;
    left: 0;
    }
}
//header
.header{
    width:100%;
    z-index: 5;
    position: relative;
}
//menu-desctop
.menu-desctop{
    display: flex;
    padding: 20px 20px 20px 20px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 999;
    background-color: transparent;
    // transition: .s;
    @media(max-width:$bp1024){
        display: none;
    }
    &.header-fixed{
        transition: .5s;
        position: fixed;
        top: 0;
        left: 0;
        animation: fix linear 1 .3s;
        background-color: #c0d6d7;
        z-index: 999;
       
        @keyframes fix{
            0%{
                transform: translateY(-100px);
            }
            100%{
                transform: translateY(0);
            }
        }
        .navbar{
            a{
                color: #191919;
            }
            button svg{
                fill: #191919;
            }
        }
    }
    .navbar{
        display: flex;
        align-items: center;
        
        a{
            @extend %ftfTrio;
            color: #fff;
            font-weight: normal;
            font-size: 16px;
            padding: 0 8px;
            letter-spacing: 0.04em;
            font-weight: 600;
            transition: .3s;
            &:hover{
                transition: .3s;
                opacity: .5;
            }
        }
        .busket{
            margin-left: 40px;
            cursor: pointer;
            background-color: transparent;
            outline: none;
            border: none;
            svg{
                fill: #fff;
            }
        }
    }
}
//menu-mobile
.menu-mobile{
    width: 100%;
    &.header-fixed{
        transition: .5s;
        position: fixed;
        top: 0;
        left: 0;
        animation: fix linear 1 .3s;
        background-color: #c0d6d7;
        z-index: 999;
       
        @keyframes fix{
            0%{
                transform: translateY(-100px);
            }
            100%{
                transform: translateY(0);
            }
        }
        .navbar{
            a{
                color: #191919;
            }
            button svg{
                fill: #191919;
            }
        }
    }
    @media(min-width: 1025px){
        display: none;
    }
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: #fff;

    .menu-mobile-btn{
        width: 40px;
        border: none;
        outline: none;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-mobile{
        position: fixed;
        display: none;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,.5);
        width: 100%;
        height: 100vh;
        nav{
        position: absolute;
        left: -270px;
        top: 0;
        transition: .5s;
        width: 270px;
        height: 100vh;
        background-color: #fff;
        .close-menu-btn{
            padding: 15px;
            display: flex;
            align-items: center;
            column-gap: 10px;
            border-bottom: 1px solid rgb(0,0,0,.2);
            margin-bottom: 20px;
            cursor:default;
            span{
                font-size: 30px;
                font-weight: 300;
            }
        }
        a{
            display: block;
            padding: 10px 30px;
            letter-spacing: 1px;
            font-weight: 500;
            margin-bottom: 10px;
            span{
                padding: 5px;
                background-color: #ff967a;
                font-size: 11px;
                color: #fff;
                position: relative;
                bottom: 10px;
            }
        }
        }
        &-show{
            display: block;
            nav{
            left: 0;
            transition: .5s;
            }
        }
    }
    .busket-mobile{
        border: none;
        width: 40px;
        background: transparent;
    }
}
.head-wrapper-titles{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%,-50%);
    // z-index: 5;
    .head-wrapper-title{
        letter-spacing:  5px;
        color: #fff;
        @extend %ftfTrio;
        line-height: 2.5em;
        max-width: 550px;
        width: 100%;
        margin-bottom: 30px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        @media(max-width:$bp500){
            font-size: 12px;
        }
        // z-index: 5;
    }
}
.head-wrapper-btns{
    display: flex;
    justify-content: center;
    width: 100%;
    @media(max-width:$bp400){
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
    }
    // z-index: 5;
    a{
        padding: 0 30px;
        display: flex;
        align-items: center;
        height: 50px;
        margin-right: 20px;
        border: 1px solid #fff;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        transition: .3s;
        @media(max-width:$bp400){
            margin-right: 0;
        }
        &:hover{
            transition: .3s;
            background-color: #fff;
            color: #000;
        }
        &:last-child{
            margin-right:0;
        }
    }
}

.gifts{
    padding-top: 50px;
    margin-bottom: 100px;
    @media(max-width:$bp768){
        margin-bottom: 70px;
    }
    @media(max-width:$bp600){
        margin-bottom: 50px;
    }
    .container{
        position: relative;
    }
}
.gifts-cards{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 110px;
    @media(max-width:$bp768){
        column-gap: 20px;
    }
    @media(max-width:$bp600){
        flex-direction: column;
        column-gap: 0;
        row-gap: 40px;
    }
    .card a{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    transition: .3s;
        &:hover{
            transition: .3s;
            transform: scale(1.05);
        }
    // title
    &-title{
        color: #191919;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 550;
        line-height: 42px; 
        letter-spacing: 1.75px;
        text-transform: uppercase;
    }
    //image
    &-image{
        max-width: 550px;
        width: 100%;
        img{
            width: 100%;
        }
    }
    // text
    &-text{
        color: #1D1E20;
        text-align: center;
        font-size: 12.797px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px; 
        max-width: 410px;
        width: 100%;
    }
    //btn
    &-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 160px;
        width: 100%;
        height: 60px;
        color: #1D1E20;
        text-align: center;
        font-size: 11.813px;
        font-style: normal;
        font-weight: 750;
        line-height: 20px; 
        letter-spacing: 1.5px;
        text-transform: uppercase;  
        border: 1px solid #1D1E20;
        margin-top: 40px;
        transition: .3s;
        &:hover{
            transition: .3s;
            background-color: #1D1E20;
            color: #fff;
        }
    }
}

.title{
    color: #191919;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px; 
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "trio-grotesk-book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 19px;
}
.text{
    width: 100%;
    color: #777;
    text-align: center;
    font-size: 14.625px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

//advertising
.advertising{
    padding: 56px 0 0 0;
    margin-bottom: 50px;
    &-wrapper{
        max-width: 730px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        img{
            max-width: 220px;
            width: 100%;
            margin:0 auto;
        }
    }
}

//video-slider-partners
.video-slider-partners{
    
    //video
    .video{
        width: 100%;
        height: 500px;
        position: relative;
        overflow: hidden;
        z-index: 0;
        @media(max-width:1230px){
            height: 425px;
        }
        @media(max-width:$bp1024){
            height: 331px;
        }
        @media(max-width:$bp1024){
            height: 331px;
        }
        @media(max-width:$bp700){
            height: 300px;
        }
        //titles
        &-titles{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            background-image: url('../images/bg-vimeo.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: .3s;
            &:hover{
                .title{
                    transition: .3s;
                    opacity: .6;
                }
                .vimeo-play{
                    transition: .3s;
                    opacity: .6;
                }
            }
            .title{
                color:#fff;
                opacity: 0;
                transition: .3s;
            }
            background-color: rgb(0,0,0,.3);
            width: 100%;
            height: 100%;
            @media(max-width:$bp500){
                height: 85%;
            }
            @media(max-width:$bp400){
                height: 70%;
            }
            //vimeo-play
            .vimeo-play{
                width: 40px;
                height: 40px;
                border: none;
                outline: none;
                cursor: pointer;
                transition: .3s;
                background-color: transparent;
                svg{
                    width: 100%;
                    height: 100%;
                    fill: #fff;
                }
                opacity: 0;
            }
        }
        //iframe vimeo-video
        #vimeo-video{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 9;
            height: 130%;
            width: 100%;
            @media(max-width:1230px){
                height: 150%;
            }
            @media(max-width:$bp1024){
                height: 160%;
            }
        }
    }
}
.btn{
    height: 60px;
    border: 1px solid #1D1E20;
    max-width: 160px;
    font-weight: 500;
    width: 100%;
    color: #1D1E20;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        transition: .3s;
        background-color: #1D1E20;
        color: #fff;
    }
}

//coffee-live
.coffee-live{
    max-width: 100%;
    background: linear-gradient(90deg, #CBDED2 30%, rgba(203, 222, 210, 0.00) 100%),
  url('../images/coffee-live-bg.webp');
  background-repeat: no-repeat;
  background-size: 100%,cover;
  background-position:center, right top;
  height: 467px;
  margin-top: 30px;
//   @media(max-width:$bp400){
//     background: linear-gradient(90deg, #CBDED2 30%, rgba(203, 222, 210, 0.00) 100%),
//     url('../images/coffee-live-bg.webp');
//   }
  // titles
  &-titles{
    padding: 80px;
    max-width: 50%;
    row-gap: 47px;
    display: flex;
    flex-direction: column;
    @media(max-width:$bp1024){
        padding-right: 0;
        max-width: 65%;
    }
    @media(max-width:$bp768){
        padding: 0 0 0 30px;
        justify-content: center;
        height: 100%;
    }
    @media(max-width:$bp700){
        max-width: 90%;
    }
    .title{
        max-width: 378px;
        width: 100%;
        text-align: left;
        margin-bottom: 0;
        @media(max-width:$bp1024){
            max-width: 100%;
        }
    }
    .text{
        max-width: 378px;
        width: 100%;
        text-align: left;
        color: #1B3C33;
        font-size: 14.625px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; 
        letter-spacing: 0.8px;
        @media(max-width:$bp1024){
            max-width: 100%;
        }
        @media(max-width:$bp700){
            color: #000;
           font-weight: 500;
        }
    }
  }
}
//slider-carousel
.slider-carousel{
    position: relative;
    //slick-dots
    .slick-dots{
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        li{
            width: 20px;
            &.slick-active{
                button{
                    opacity: 1;
                }
            }
            button{
                max-width: 100%;
                height: 100%;
            }
        }
    }



        .slider-item-1{
        background: linear-gradient(90deg, #c0d6d7 30%, rgba(203, 222, 210, 0.00) 100%),
        url('../images/slider-bg-1.webp');
        background-repeat: no-repeat;
        background-size: 100%,cover;
        background-position:center, right top;
        @media(max-width:$bp400){
            background: url(../images/slider-bg-1.webp), linear-gradient(354deg, #c0d6d7 40%, rgba(203, 222, 210, 0) 80%);
            background-position: center top, center bottom;
            background-repeat: no-repeat;
            background-size: 400px 180px, 100% 100%;
        }
        .title{
            font-weight: 700;
        }
        @media(max-width:$bp400){
            .coffee-live-titles{
            max-width: 100%;
            padding:0 0px;
            row-gap: 20px;
            justify-content: flex-end;
            align-items: center;
            padding-bottom: 25px;
            .text{
                width: 100%;
                background: linear-gradient(354deg, #c0d6d7 56%, rgba(203, 222, 210, 0) 150%);
                padding: 0 20px;
                text-align: center;
            }
            .slider-item-logo{
                justify-content: center;
                &-info{
                    text-align: center;
                }
            }
            }
        }
        }
        //.slider-item-2
        .slider-item-2{
            background: linear-gradient(90deg,rgba(203, 222, 210, 0.00)  0%, #c0d6d7 70%),
            url('../images/slider-bg-2.webp');
            background-repeat: no-repeat;
            background-size: 100%,cover;
            background-position:left center, left top;
            position: relative;
            
            @media(max-width:$bp700){
                background-position:left center, right top;
            }
            @media(max-width:$bp400){
                background: url(../images/slider-bg-2.webp), linear-gradient(354deg, #c0d6d7 40%, rgba(203, 222, 210, 0) 80%);
                background-position: center top, center bottom;
                background-repeat: no-repeat;
                background-size: 400px 200px, 100% 100%;
                
            }
            .coffee-live-titles{
                position: absolute;
                right: 0;
                @media(max-width:$bp1024){
                    padding-right: 0;
                    max-width: 65%;
                }
                @media(max-width:$bp768){
                    padding: 0 30px 0 0px;
                    justify-content: center;
                    height: 100%;
                }
                @media(max-width:$bp700){
                    max-width: 90%;
                }
                @media(max-width:$bp700){
                    align-items: flex-end;

                    .text{
                        text-align: right;
                        font-weight: 700;
                    }
                    .slider-item-logo{
                        text-align: right;
                        justify-content: flex-end;
                    }
                }
                @media(max-width:$bp400){
                    max-width: 100%;
                    padding: 0;
                        max-width: 100%;
                        padding:0 0px;
                        row-gap: 20px;
                        justify-content: flex-end;
                        align-items: center;
                        padding-bottom: 25px;
                        .text{
                            width: 100%;
                            background: linear-gradient(354deg, #c0d6d7 56%, rgba(203, 222, 210, 0) 150%);
                            padding: 0 20px;
                            text-align: center;
                        }
                        .slider-item-logo{
                            justify-content: center;
                            &-info{
                                text-align: center;
                            }
                        }
                }
            }
        }
      // // slider-item 3
      .slider-item-3{
        background: linear-gradient(90deg, #c0d6d7 30%, rgba(203, 222, 210, 0.00) 100%),
        url('../images/slider-bg-3.webp');
        background-repeat: no-repeat;
        background-size: 100%,cover;
        background-position:center, 0% top;
        @media(max-width:$bp400){
          background: url(../images/slider-bg-3.webp), linear-gradient(354deg, #c0d6d7 40%, rgba(203, 222, 210, 0) 80%);
          background-position: center top, center bottom;
          background-repeat: no-repeat;
          background-size: 400px 180px, 100% 100%;
        }
        @media(max-width:$bp400){
            .coffee-live-titles{
            max-width: 100%;
            padding:0 0px;
            row-gap: 20px;
            justify-content: flex-end;
            align-items: center;
            padding-bottom: 25px;
            .text{
                width: 100%;
                background: linear-gradient(354deg, #c0d6d7 56%, rgba(203, 222, 210, 0) 150%);
                padding: 0 20px;
                text-align: center;
            }
            .slider-item-logo{
                justify-content: center;
                &-info{
                    text-align: center;
                }
            }
            }
        }
    }
    // slider-item-4
    .slider-item-4{
    background: linear-gradient(90deg,rgba(203, 222, 210, 0.00)  0%, #c0d6d7 70%),
            url('../images/slider-bg-4.webp');
            background-repeat: no-repeat;
            background-size: 100%,cover;
            background-position:left center, left top;
            position: relative;
            
            @media(max-width:$bp700){
                background-position:left center, right top;
            }
            @media(max-width:$bp400){
                background: url(../images/slider-bg-4.webp), linear-gradient(354deg, #c0d6d7 40%, rgba(203, 222, 210, 0) 80%);
                background-position: center top, center bottom;
                background-repeat: no-repeat;
                background-size: 400px 200px, 100% 100%;
                
            }
            .coffee-live-titles{
                position: absolute;
                right: 0;
                @media(max-width:$bp1024){
                    padding-right: 0;
                    max-width: 65%;
                }
                @media(max-width:$bp768){
                    padding: 0 30px 0 0px;
                    justify-content: center;
                    height: 100%;
                }
                @media(max-width:$bp700){
                    max-width: 90%;
                }
                @media(max-width:$bp700){
                    align-items: flex-end;

                    .text{
                        text-align: right;
                        font-weight: 700;
                    }
                    .slider-item-logo{
                        text-align: right;
                        justify-content: flex-end;
                    }
                }
                @media(max-width:$bp400){
                    max-width: 100%;
                    padding: 0;
                        max-width: 100%;
                        padding:0 0px;
                        row-gap: 20px;
                        justify-content: flex-end;
                        align-items: center;
                        padding-bottom: 25px;
                        .text{
                            width: 100%;
                            background: linear-gradient(354deg, #c0d6d7 56%, rgba(203, 222, 210, 0) 150%);
                            padding: 0 20px;
                            text-align: center;
                        }
                        .slider-item-logo{
                            justify-content: center;
                            &-info{
                                text-align: center;
                            }
                        }
                }
            }
        }
}

//slider-item-logo
.slider-item-logo{
    display: flex;
    align-items: center;
    img{
        margin-right: 20px;
    }
    //info
    &-info{
        //title
        &-title{
            letter-spacing: .0625em;
            line-height: 1.25em;
            margin-bottom: 10px;
            font-weight: bold;
        }
        //text
        &-text{
            letter-spacing: .125em;
            font-size: 9px;
            span{
                display: block;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 10px;
            }
        }
    }
  }
