* {
  font-family: "post-grotesk-book", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar-thumb {
  background-color: #4B5254;
  -webkit-appearance: none;
  border-radius: 30px;
  height: 10px;
}

html::-webkit-scrollbar {
  width: 9px;
}

html::-webkit-scrollbar-track {
  background-color: #fff;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  width: calc(100% - 40px);
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
    margin: 0;
  }
}

.head-wrapper {
  height: 60vh;
  position: relative;
  width: 100%;
}
.head-wrapper.head-wrapper-modifiet {
  height: 315px;
  position: relative;
}

.head-video {
  position: absolute;
  height: 60vh;
  max-width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
}
.head-video #head-video {
  min-width: 100%;
}
.head-video::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
}

.header {
  width: 100%;
  z-index: 5;
  position: relative;
}

.menu-desctop {
  display: flex;
  padding: 20px 20px 20px 20px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 999;
  background-color: transparent;
}
@media (max-width: 1024px) {
  .menu-desctop {
    display: none;
  }
}
.menu-desctop.header-fixed {
  transition: 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  animation: fix linear 1 0.3s;
  background-color: #c0d6d7;
  z-index: 999;
}
@keyframes fix {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
.menu-desctop.header-fixed .navbar a {
  color: #191919;
}
.menu-desctop.header-fixed .navbar button svg {
  fill: #191919;
}
.menu-desctop .navbar {
  display: flex;
  align-items: center;
}
.menu-desctop .navbar a {
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  padding: 0 8px;
  letter-spacing: 0.04em;
  font-weight: 600;
  transition: 0.3s;
}
.menu-desctop .navbar a:hover {
  transition: 0.3s;
  opacity: 0.5;
}
.menu-desctop .navbar .busket {
  margin-left: 40px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}
.menu-desctop .navbar .busket svg {
  fill: #fff;
}

.menu-mobile {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: #fff;
}
.menu-mobile.header-fixed {
  transition: 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  animation: fix linear 1 0.3s;
  background-color: #c0d6d7;
  z-index: 999;
}
@keyframes fix {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
.menu-mobile.header-fixed .navbar a {
  color: #191919;
}
.menu-mobile.header-fixed .navbar button svg {
  fill: #191919;
}
@media (min-width: 1025px) {
  .menu-mobile {
    display: none;
  }
}
.menu-mobile .menu-mobile-btn {
  width: 40px;
  border: none;
  outline: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-mobile .navbar-mobile {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}
.menu-mobile .navbar-mobile nav {
  position: absolute;
  left: -270px;
  top: 0;
  transition: 0.5s;
  width: 270px;
  height: 100vh;
  background-color: #fff;
}
.menu-mobile .navbar-mobile nav .close-menu-btn {
  padding: 15px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  cursor: default;
}
.menu-mobile .navbar-mobile nav .close-menu-btn span {
  font-size: 30px;
  font-weight: 300;
}
.menu-mobile .navbar-mobile nav a {
  display: block;
  padding: 10px 30px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 10px;
}
.menu-mobile .navbar-mobile nav a span {
  padding: 5px;
  background-color: #ff967a;
  font-size: 11px;
  color: #fff;
  position: relative;
  bottom: 10px;
}
.menu-mobile .navbar-mobile-show {
  display: block;
}
.menu-mobile .navbar-mobile-show nav {
  left: 0;
  transition: 0.5s;
}
.menu-mobile .busket-mobile {
  border: none;
  width: 40px;
  background: transparent;
}

.navbar a.active {
  opacity: 0.5;
}
.navbar a.active:hover {
  opacity: 0.3;
}

.head-wrapper-titles {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
}
.head-wrapper-titles .head-wrapper-title {
  letter-spacing: 5px;
  color: #fff;
  line-height: 2.5em;
  max-width: 550px;
  width: 100%;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 500px) {
  .head-wrapper-titles .head-wrapper-title {
    font-size: 12px;
  }
}

.head-wrapper-btns {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width: 400px) {
  .head-wrapper-btns {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
  }
}
.head-wrapper-btns a {
  padding: 0 30px;
  display: flex;
  align-items: center;
  height: 50px;
  margin-right: 20px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}
@media (max-width: 400px) {
  .head-wrapper-btns a {
    margin-right: 0;
  }
}
.head-wrapper-btns a:hover {
  transition: 0.3s;
  background-color: #fff;
  color: #000;
}
.head-wrapper-btns a:last-child {
  margin-right: 0;
}

.gifts {
  padding-top: 50px;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .gifts {
    margin-bottom: 70px;
  }
}
@media (max-width: 600px) {
  .gifts {
    margin-bottom: 50px;
  }
}
.gifts .container {
  position: relative;
}

.gifts-cards {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 110px;
}
@media (max-width: 768px) {
  .gifts-cards {
    column-gap: 20px;
  }
}
@media (max-width: 600px) {
  .gifts-cards {
    flex-direction: column;
    column-gap: 0;
    row-gap: 40px;
  }
}
.gifts-cards .card a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
  transition: 0.3s;
}
.card-view:hover {
  transition: 0.3s;
  transform: scale(1.05);
}
.card-view-title {
  color: #191919;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 550;
  line-height: 42px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}
.card-view-image {
  max-width: 550px;
  width: 100%;
}
.card-view-image img {
  width: 100%;
}
.card-view-text {
  color: #1D1E20;
  text-align: center;
  font-size: 12.797px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  max-width: 410px;
  width: 100%;
}
.card-view-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 160px;
  width: 100%;
  height: 60px;
  color: #1D1E20;
  text-align: center;
  font-size: 11.813px;
  font-style: normal;
  font-weight: 750;
  line-height: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border: 1px solid #1D1E20;
  margin-top: 40px;
  transition: 0.3s;
}
.card-view-btn:hover {
  transition: 0.3s;
  background-color: #1D1E20;
  color: #fff;
}

.title {
  color: #191919;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "trio-grotesk-book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 19px;
}

.text {
  width: 100%;
  color: #777;
  text-align: center;
  font-size: 14.625px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.advertising {
  padding: 56px 0 0 0;
  margin-bottom: 50px;
}
.advertising-wrapper {
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.advertising-wrapper img {
  max-width: 220px;
  width: 100%;
  margin: 0 auto;
}

.video-slider-partners .video {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
@media (max-width: 1230px) {
  .video-slider-partners .video {
    height: 425px;
  }
}
@media (max-width: 1024px) {
  .video-slider-partners .video {
    height: 331px;
  }
}
@media (max-width: 1024px) {
  .video-slider-partners .video {
    height: 331px;
  }
}
@media (max-width: 700px) {
  .video-slider-partners .video {
    height: 300px;
  }
}
.video-slider-partners .video-titles {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-image: url("../images/bg-vimeo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
.video-slider-partners .video-titles:hover .title {
  transition: 0.3s;
  opacity: 0.6;
}
.video-slider-partners .video-titles:hover .vimeo-play {
  transition: 0.3s;
  opacity: 0.6;
}
.video-slider-partners .video-titles .title {
  color: #fff;
  opacity: 0;
  transition: 0.3s;
}
@media (max-width: 500px) {
  .video-slider-partners .video-titles {
    height: 85%;
  }
}
@media (max-width: 400px) {
  .video-slider-partners .video-titles {
    height: 70%;
  }
}
.video-slider-partners .video-titles .vimeo-play {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
  opacity: 0;
}
.video-slider-partners .video-titles .vimeo-play svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}
.video-slider-partners .video #vimeo-video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  height: 130%;
  width: 100%;
}
@media (max-width: 1230px) {
  .video-slider-partners .video #vimeo-video {
    height: 150%;
  }
}
@media (max-width: 1024px) {
  .video-slider-partners .video #vimeo-video {
    height: 160%;
  }
}

.btn {
  height: 60px;
  border: 1px solid #1D1E20;
  max-width: 160px;
  font-weight: 500;
  width: 100%;
  color: #1D1E20;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  transition: 0.3s;
  background-color: #1D1E20;
  color: #fff;
}

.coffee-live {
  max-width: 100%;
  background: linear-gradient(90deg, #CBDED2 30%, rgba(203, 222, 210, 0) 100%), url("../images/coffee-live-bg.webp");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-position: center, right top;
  height: 467px;
  margin-top: 30px;
}
.coffee-live-titles {
  padding: 80px;
  max-width: 50%;
  row-gap: 47px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .coffee-live-titles {
    padding-right: 0;
    max-width: 65%;
  }
}
@media (max-width: 768px) {
  .coffee-live-titles {
    padding: 0 0 0 30px;
    justify-content: center;
    height: 100%;
  }
}
@media (max-width: 700px) {
  .coffee-live-titles {
    max-width: 90%;
  }
}
.coffee-live-titles .title {
  max-width: 378px;
  width: 100%;
  text-align: left;
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .coffee-live-titles .title {
    max-width: 100%;
  }
}
.coffee-live-titles .text {
  max-width: 378px;
  width: 100%;
  text-align: left;
  color: #1B3C33;
  font-size: 14.625px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.8px;
}
@media (max-width: 1024px) {
  .coffee-live-titles .text {
    max-width: 100%;
  }
}
@media (max-width: 700px) {
  .coffee-live-titles .text {
    color: #000;
    font-weight: 500;
  }
}

.slider-carousel {
  position: relative;
}
.slider-carousel .slick-dots {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}
.slider-carousel .slick-dots li {
  width: 20px;
}
.slider-carousel .slick-dots li.slick-active button {
  opacity: 1;
}
.slider-carousel .slick-dots li button {
  max-width: 100%;
  height: 100%;
}
.slider-carousel .slider-item-1 {
  background: linear-gradient(90deg, #c0d6d7 30%, rgba(203, 222, 210, 0) 100%), url("../images/slider-bg-1.webp");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-position: center, right top;
}
@media (max-width: 400px) {
  .slider-carousel .slider-item-1 {
    background: url(../images/slider-bg-1.webp), linear-gradient(354deg, #c0d6d7 40%, rgba(203, 222, 210, 0) 80%);
    background-position: center top, center bottom;
    background-repeat: no-repeat;
    background-size: 400px 180px, 100% 100%;
  }
}
.slider-carousel .slider-item-1 .title {
  font-weight: 700;
}
@media (max-width: 400px) {
  .slider-carousel .slider-item-1 .coffee-live-titles {
    max-width: 100%;
    padding: 0px 0px;
    row-gap: 20px;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
  }
  .slider-carousel .slider-item-1 .coffee-live-titles .text {
    width: 100%;
    background: linear-gradient(354deg, #c0d6d7 56%, rgba(203, 222, 210, 0) 150%);
    padding: 0 20px;
    text-align: center;
  }
  .slider-carousel .slider-item-1 .coffee-live-titles .slider-item-logo {
    justify-content: center;
  }
  .slider-carousel .slider-item-1 .coffee-live-titles .slider-item-logo-info {
    text-align: center;
  }
}
.slider-carousel .slider-item-2 {
  background: linear-gradient(90deg, rgba(203, 222, 210, 0) 0%, #c0d6d7 70%), url("../images/slider-bg-2.webp");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-position: left center, left top;
  position: relative;
}
@media (max-width: 700px) {
  .slider-carousel .slider-item-2 {
    background-position: left center, right top;
  }
}
@media (max-width: 400px) {
  .slider-carousel .slider-item-2 {
    background: url(../images/slider-bg-2.webp), linear-gradient(354deg, #c0d6d7 40%, rgba(203, 222, 210, 0) 80%);
    background-position: center top, center bottom;
    background-repeat: no-repeat;
    background-size: 400px 200px, 100% 100%;
  }
}
.slider-carousel .slider-item-2 .coffee-live-titles {
  position: absolute;
  right: 0;
}
@media (max-width: 1024px) {
  .slider-carousel .slider-item-2 .coffee-live-titles {
    padding-right: 0;
    max-width: 65%;
  }
}
@media (max-width: 768px) {
  .slider-carousel .slider-item-2 .coffee-live-titles {
    padding: 0 30px 0 0px;
    justify-content: center;
    height: 100%;
  }
}
@media (max-width: 700px) {
  .slider-carousel .slider-item-2 .coffee-live-titles {
    align-items: flex-end;
    max-width: 90%;
  }
  .slider-carousel .slider-item-2 .coffee-live-titles .text {
    text-align: right;
    font-weight: 700;
  }
  .slider-carousel .slider-item-2 .coffee-live-titles .slider-item-logo {
    text-align: right;
    justify-content: flex-end;
  }
}
@media (max-width: 400px) {
  .slider-carousel .slider-item-2 .coffee-live-titles {
    max-width: 100%;
    padding: 0;
    max-width: 100%;
    padding: 0 0px;
    row-gap: 20px;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 25px;
  }
  .slider-carousel .slider-item-2 .coffee-live-titles .text {
    width: 100%;
    background: linear-gradient(354deg, #c0d6d7 56%, rgba(203, 222, 210, 0) 150%);
    padding: 0 20px;
    text-align: center;
  }
  .slider-carousel .slider-item-2 .coffee-live-titles .slider-item-logo {
    justify-content: center;
  }
  .slider-carousel .slider-item-2 .coffee-live-titles .slider-item-logo-info {
    text-align: center;
  }
}
.slider-carousel .slider-item-3 {
  background: linear-gradient(90deg, #c0d6d7 30%, rgba(203, 222, 210, 0) 100%), url("../images/slider-bg-3.webp");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-position: center, 0% top;
}
@media (max-width: 400px) {
  .slider-carousel .slider-item-3 {
    background: url(../images/slider-bg-3.webp), linear-gradient(354deg, #c0d6d7 40%, rgba(203, 222, 210, 0) 80%);
    background-position: center top, center bottom;
    background-repeat: no-repeat;
    background-size: 400px 180px, 100% 100%;
  }
}
@media (max-width: 400px) {
  .slider-carousel .slider-item-3 .coffee-live-titles {
    max-width: 100%;
    padding: 0 0px;
    row-gap: 20px;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
  }
  .slider-carousel .slider-item-3 .coffee-live-titles .text {
    width: 100%;
    background: linear-gradient(354deg, #c0d6d7 56%, rgba(203, 222, 210, 0) 150%);
    padding: 0 20px;
    text-align: center;
  }
  .slider-carousel .slider-item-3 .coffee-live-titles .slider-item-logo {
    justify-content: center;
  }
  .slider-carousel .slider-item-3 .coffee-live-titles .slider-item-logo-info {
    text-align: center;
  }
}
.slider-carousel .slider-item-4 {
  background: linear-gradient(90deg, rgba(203, 222, 210, 0) 0%, #c0d6d7 70%), url("../images/slider-bg-4.webp");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-position: left center, left top;
  position: relative;
}
@media (max-width: 700px) {
  .slider-carousel .slider-item-4 {
    background-position: left center, right top;
  }
}
@media (max-width: 400px) {
  .slider-carousel .slider-item-4 {
    background: url(../images/slider-bg-4.webp), linear-gradient(354deg, #c0d6d7 40%, rgba(203, 222, 210, 0) 80%);
    background-position: center top, center bottom;
    background-repeat: no-repeat;
    background-size: 400px 200px, 100% 100%;
  }
}
.slider-carousel .slider-item-4 .coffee-live-titles {
  position: absolute;
  right: 0;
}
@media (max-width: 1024px) {
  .slider-carousel .slider-item-4 .coffee-live-titles {
    padding-right: 0;
    max-width: 65%;
  }
}
@media (max-width: 768px) {
  .slider-carousel .slider-item-4 .coffee-live-titles {
    padding: 0 30px 0 0px;
    justify-content: center;
    height: 100%;
  }
}
@media (max-width: 700px) {
  .slider-carousel .slider-item-4 .coffee-live-titles {
    max-width: 90%;
    align-items: flex-end;
  }
  .slider-carousel .slider-item-4 .coffee-live-titles .text {
    text-align: right;
    font-weight: 700;
  }
  .slider-carousel .slider-item-4 .coffee-live-titles .slider-item-logo {
    text-align: right;
    justify-content: flex-end;
  }
}
@media (max-width: 400px) {
  .slider-carousel .slider-item-4 .coffee-live-titles {
    max-width: 100%;
    padding: 0;
    max-width: 100%;
    padding: 0 0px;
    row-gap: 20px;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
  }
  .slider-carousel .slider-item-4 .coffee-live-titles .text {
    width: 100%;
    background: linear-gradient(354deg, #c0d6d7 56%, rgba(203, 222, 210, 0) 150%);
    padding: 0 20px;
    text-align: center;
  }
  .slider-carousel .slider-item-4 .coffee-live-titles .slider-item-logo {
    justify-content: center;
  }
  .slider-carousel .slider-item-4 .coffee-live-titles .slider-item-logo-info {
    text-align: center;
  }
}

.slider-item-logo {
  display: flex;
  align-items: center;
}
.slider-item-logo img {
  margin-right: 20px;
}
.slider-item-logo-info-title {
  letter-spacing: 0.0625em;
  line-height: 1.25em;
  margin-bottom: 10px;
  font-weight: bold;
}
.slider-item-logo-info-text {
  letter-spacing: 0.125em;
  font-size: 9px;
}
.slider-item-logo-info-text span {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.partners-logo {
  height: 467px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c0d6d7;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .partners-logo {
    padding: 70px 20px;
    height: auto;
  }
}
.partners-logo .partners-flex {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 50px;
}
@media (max-width: 400px) {
  .partners-logo .partners-flex {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .partners-logo .partners-flex {
    display: block;
  }
  .partners-logo .partners-flex img {
    height: 30px;
    width: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .partners-logo .partners-flex img:last-child {
    margin-bottom: 0;
  }
}
.partners-logo .partners-flex img {
  opacity: 0.5;
  transition: 0.3s;
}
.partners-logo .partners-flex img:hover {
  opacity: 1;
  transition: 0.3s;
}

.partners-title {
  color: #777;
  text-align: center;
  font-size: 18.125px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1px;
  max-width: 680px;
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
}

.footer {
  background-color: #4B5254;
  padding: 54px 0;
}
@media (max-width: 768px) {
  .footer {
    padding: 30px 0;
  }
}
.footer-flex {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer-flex {
    flex-direction: column;
    row-gap: 20px;
  }
}
.footer-flex .footer-link {
  display: flex;
  column-gap: 60px;
}
@media (max-width: 768px) {
  .footer-flex .footer-link {
    justify-content: space-around;
  }
}
.footer-flex .footer-link li {
  display: block;
}
.footer-flex .footer-link li a {
  display: block;
  color: #FFF;
  font-size: 13.234px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.7px;
  margin-bottom: 13px;
}
@media (max-width: 768px) {
  .footer-flex .footer-link li a {
    text-align: center;
  }
}
.footer-flex .footer-link li a:hover {
  text-decoration: underline;
}
.footer-form-title {
  color: #FFFCFC;
  font-size: 14.125px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.8px;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .footer-form-title {
    display: none;
  }
}
.footer-form-flex {
  display: flex;
  column-gap: 20px;
}
@media (max-width: 600px) {
  .footer-form-flex {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
}
.footer-form-input {
  display: flex;
  border: 2px solid #fff;
}
@media (max-width: 768px) {
  .footer-form-input {
    max-width: 100%;
    width: 100%;
  }
}
.footer-form-input input {
  max-width: 200px;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  outline: none;
}
@media (max-width: 768px) {
  .footer-form-input input {
    max-width: 100%;
  }
}
.footer-form-input input::placeholder {
  color: #777;
  font-size: 10.875px;
  font-weight: 400;
}
.footer-form-input button {
  width: 64px;
  height: 40px;
  background-color: #4B5254;
  border: none;
  cursor: pointer;
}
.footer-form-input button svg {
  fill: #FFF;
}
.footer-form-social {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.footer-form-social a svg {
  fill: #fff;
}
.footer-bottom {
  max-width: 100%;
  display: block;
}
.footer-bottom .footer-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 22px;
}
@media (max-width: 768px) {
  .footer-bottom .footer-logo {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    justify-content: center;
    margin-top: 20px;
    padding-top: 25px;
  }
}
.footer-bottom .footer-logo span {
  color: #FFF;
  font-size: 14.625px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.8px;
}
.footer-bottom .btn-top {
  position: fixed;
  right: 20px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c0d6d7;
  border-radius: 6px;
  display: none;
}
.footer-bottom .btn-top.active {
  display: flex;
}
.footer-bottom .btn-top span {
  display: none;
}
@media (max-width: 768px) {
  .footer-bottom .btn-top {
    max-width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    border-radius: 0px;
    position: static;
    background-color: transparent;
    width: 100%;
  }
  .footer-bottom .btn-top svg {
    fill: #fff;
    width: 30px;
    height: 30px;
  }
  .footer-bottom .btn-top span {
    font-size: 12px;
    color: #fff;
    display: block;
  }
}

.head-page-titles {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}
.head-page-titles .head-page-title {
  max-width: 70%;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.head-page-titles.shop {
  background-image: url("../images/shop-bg-head.webp");
}
.head-page-titles.shop p {
  color: #fff;
  font-size: 20px;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
}
.head-page-titles.brew-guides {
  background: linear-gradient(rgba(29, 30, 32, 0.6), rgba(29, 30, 32, 0)), url("../images/brew-guides-head-bg.jpg");
}
.head-page-titles.products {
  background: linear-gradient(rgba(29, 30, 32, 0.6), rgba(29, 30, 32, 0)), url("../images/shop-bg-head.webp");
}

.card {
  position: relative;
}
@media (max-width: 400px) {
  .card {
    padding: 0 10px;
  }
}
.card-image {
  padding: 40px 0px;
  width: 100%;
}
.card-image img {
  max-width: 300px;
  width: 100%;
}
.card-title {
  text-align: center;
  color: #191919;
  font-size: 12.906px;
  font-style: normal;
  font-weight: 800;
  line-height: 17.5px;
  letter-spacing: 0.7px;
  margin-bottom: 16px;
  width: 100%;
}
.card-reviews {
  display: flex;
  align-items: center;
  column-gap: 5px;
  justify-content: center;
  width: 100%;
}
@media (max-width: 600px) {
  .card-reviews {
    flex-direction: column;
    margin-bottom: 10px;
  }
}
.card-reviews-star svg {
  fill: #777;
}
@media (max-width: 400px) {
  .card-reviews-star svg {
    width: 14px;
    height: 14px;
  }
}
.card-reviews-num {
  color: #777;
  text-align: center;
  font-size: 15.375px;
  font-weight: 300;
  line-height: 22.4px;
}
.card-price {
  text-align: center;
  color: #191919;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  letter-spacing: 0.7px;
  width: 100%;
}
.card:hover .card-eye {
  transition: 0.3s;
  opacity: 1;
}
.card-eye {
  display: flex;
  opacity: 0;
  transition: 0.3s;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.card-eye:hover {
  background-color: #000;
}
.card-eye:hover svg {
  fill: #fff;
}
.card-eye:hover::before {
  transition: 0.3s;
  transform: translateX(0);
  opacity: 1;
}
.card-eye::before {
  content: "Quick View";
  position: absolute;
  right: 70px;
  width: 100px;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  color: #777;
  word-wrap: break-word;
  display: block;
  transition: 0.3s;
  transform: translateX(-20px);
  opacity: 0;
}
@media (max-width: 1024px) {
  .card-eye {
    margin: 20px auto 0 auto;
    width: fit-content;
    position: static;
    opacity: 1;
  }
  .card-eye::before {
    display: none;
  }
}
.card-sold-out {
  position: absolute;
  left: 0;
  top: 0;
  width: fit-content;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 11.063px;
  font-weight: 500;
  line-height: 12px;
}
.card-litr {
  color: #777;
  font-size: 14.75px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding: 5px;
  border: none;
  margin-top: 20px;
  outline: none;
  max-width: 150px;
}
.card-litr option {
  font-size: 14px;
  padding: 0;
}

.slider-products {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 100px;
}
@media (max-width: 768px) {
  .slider-products {
    padding-top: 120px;
  }
}
.slider-products .slick-dots {
  position: absolute;
  top: -50px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .slider-products .slick-dots {
    flex-direction: column;
    height: 50px;
    row-gap: 20px;
    top: -70px;
  }
}
.slider-products .slick-dots li {
  width: 33%;
}
.slider-products .slick-dots li button {
  width: 100%;
}
.slider-products .slick-dots li button::before {
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "ALL PRODUCTS";
  font-size: 16px;
  color: #000;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 2px;
  padding-bottom: 5px;
}
@media (max-width: 768px) {
  .slider-products .slick-dots li button::before {
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .slider-products .slick-dots li button::before {
    width: 150%;
  }
}
.slider-products .slick-dots li:nth-child(2) button::before {
  content: "GIFTS";
}
.slider-products .slick-dots li:nth-child(3) button::before {
  content: "SUBSCRIPTIONS";
}
.slider-products .slick-dots li.slick-active button::before {
  border-bottom: 1px solid #000;
}
.slider-products .container {
  position: relative;
}
@media (max-width: 400px) {
  .slider-products .container {
    padding: 0;
  }
}
.slider-products-all, .slider-products-gifts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}
@media (max-width: 800px) {
  .slider-products-all, .slider-products-gifts {
    flex-wrap: wrap;
    column-gap: 0;
    grid-template-columns: 50% 50%;
  }
}
.slider-products-subscriptions .card {
  width: fit-content;
}

.instructions {
  padding: 60px 0 20px 0;
}
.instructions-text {
  font-size: 16px;
  text-transform: none;
  text-align: center;
  color: #777;
}
.instructions-flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 1px solid #777;
}
@media (max-width: 768px) {
  .instructions-flex {
    display: block;
  }
}
.instructions-item {
  height: 165px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #191919;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .instructions-item {
    border-top: 1px solid #777;
  }
}
.instructions-item:nth-child(1) {
  border-right: 1px solid #777;
}
.instructions-item:nth-child(2) {
  border-right: 1px solid #777;
}
.instructions-item:nth-child(3) {
  border-right: 1px solid #777;
}
.instructions-item:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 3;
  border-top: 1px solid #777;
  border-right: 1px solid #777;
}
.instructions-item:nth-child(6) {
  grid-column-start: 3;
  grid-column-end: 6;
  border-top: 1px solid #777;
}
.instructions-item:hover {
  transition: 0.3s;
  background-color: #4B5254;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
